<div id="shopify-section-{{ section.id }}" class="page-width featured-products-section">
    <h1>{{ section.settings.featured-collection-heading }}</h1>

    {% assign choosen-collection = section.settings.featured-collection %}

    <div class="featured-product-container">
    {% for product in collections[choosen-collection].products %}
        <div class="featured-product-wrap">
            <div class="featured-products-image">
                <a href="{{ product.url }}">
                    <img src="{{ product.featured_image.src | img_url: 'large' }}" />
                </a>
            </div>
            <a href="{{ product.url }}">
                <p class="featured-product-title">{{ product.title }}</p>
            </a>
            <p class="featured-product-price">{{ product.price | money }}</p>

            <a type="submit" name="add" id="featured-product-atc" value="Add To Cart">
                <span>Add to Cart</span>
                <div class="anchor-fold">
                    <div class="anchor-fold-triangle"></div>
                </div>
            </a> 

        </div>
    {% endfor %}
    </div>

</div>

{% schema %}
{
  "name": "Featured Products",
  "settings": [
        {
            "type": "text",
            "id": "featured-collection-heading",
            "label": "Heading"
        },
        {
            "type": "collection",
            "id": "featured-collection",
            "label": "Select a Collection"
        }
    ],
    "presets": [
        {
            "category": "Product",
            "name": "Featured Products"
        }
    ]
}

{% endschema %}