<div id="shopify-section-{{ section.id }}" class="page-width featured-products-section">
    <h1>{{ section.settings.featured-collection-heading }}</h1>

    {% assign choosen-collection = section.settings.featured-collection %}

    <div class="featured-product-container">
    {% for product in collections[choosen-collection].products %}
        <div class="featured-product-wrap">
            <div class="featured-products-image">
                <a href="{{ product.url }}">
                    <img src="{{ product.featured_image.src | img_url: 'large' }}" />
                </a>
            </div>
            <a href="{{ product.url }}">
                <p class="featured-product-title">{{ product.title }}</p>
            </a>
            <p class="featured-product-price">{{ product.price | money }}</p>

            <a id="featured-product-atc" value="Add To Cart" class="ajax-submit-btn" data-prod-id="{{ product.variants.first.id }}" data-name="{{ product.title | handleize }}">
                <span>Add to Cart</span>
                <div class="anchor-fold">
                    <div class="anchor-fold-triangle"></div>
                </div>
            </a> 

        </div>
    {% endfor %}
    </div>

</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<script>

      $(document).ready(function(){   

        //when add to cart is clicked
        $('.ajax-submit-btn').click(function(){

          //grab product's Id (the VARIANT id not the product id)
          var productID = $(this).attr("data-prod-id");

          //run the call
          addItemToCart(productID, 1); 

        });
      });// end of document ready wrap


        //add to cart ajax call 
        function addItemToCart(variant_id, qty) {

            //take in arguments, pass them into data json
            data = {
              "id": variant_id,
              "quantity": qty
            }

            //make the call
            $.ajax({
              type: 'POST',
              url: '/cart/add',
              data: data,
              dataType: 'json',
              success: function() { 
                console.log('success, ' + qty + " of " + variant_id + " added to cart.");
              },
              error: function() { 
                alert("Error. Oh no!");
              }
            });
        }// end of call

    </script>

{% schema %}
{
  "name": "Featured Products",
  "settings": [
        {
            "type": "text",
            "id": "featured-collection-heading",
            "label": "Heading"
        },
        {
            "type": "collection",
            "id": "featured-collection",
            "label": "Select a Collection"
        }
    ],
    "presets": [
        {
            "category": "Product",
            "name": "Featured Products"
        }
    ]
}

{% endschema %}